<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Hola, <strong>Platzi Team!</strong></h1>
  <p class="lead">Esta es mi prueba de backend para <strong>Platzi Master</strong> </p>
  <hr class="my-4">
  <p>Es una aplicación que realiza un <strong>CRUD</strong> a productos y categorias.</p>
  <p>Está realizada en Node.js y MongoDB</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">GitHub repository</a>
</div>