
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platzi Master Test</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark mb-4">
        <a href="/" class="navbar-brand">Platzi Master Test</a>
    </nav>
   
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/createCategory" method="POST">
                            <div class="form-group mb-2">
                                <input type="text" name="name" placeholder="Ingresa el nombre de la categoría" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < categories.length; i++ ){ %>
                         <tr>
                             <td> <%= i + 1 %></td>
                             <td> <%= categories[i].name %> </td>
                             <td>
                                 <a href="" class="btn btn-info">Editar</a>
                                 <a href="" class="btn btn-danger">Eliminar</a>
                             </td>
                         </tr>
                            
                        <% } %>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</body>
</html>